

.logo02 {
margin-left: auto;
margin-right: auto;
font-size: 540px !important;
}

h2 {
    font-size: 60px !important;
}

h3 {
    font-size: 28px !important;
}

.everything {
    margin-left: 40% !important;
    margin-right: 40% !important;
    margin-top: 5%;
    margin-bottom: 5%;
}