.pageWrapper {
    display: flex !important;
    flex-direction: row !important;
    place-content: center !important;
    height: 100vh !important;
    width: 100% !important;
    margin: 0 !important;
}

.content {
    display: flex !important;
    flex-direction: column !important;
    text-align: center !important;
}

.formWrapper{
display: flex !important;
flex-direction: row !important;
}

.regForm {
    margin: 20px !important;
    display: flex !important;
    flex-direction: column !important;
    place-content: center !important;
    width: 250px !important;
    height: 200px !important;
    text-align: center !important;
    margin-top: 15% !important;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px !important;
}

.regWrapper {
    margin: 25px !important;
    display: flex !important;
    flex-direction: column !important;
    place-content: center !important;
    width: 250px !important;
    height: 200px !important;
    text-align: center !important;
    margin-top: 15%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
.loginWrapper {
    margin: 25px !important;
    display: flex !important;
    flex-direction: column !important;
    place-content: center !important;
    width: 250px !important;
    height: 200px !important;
    text-align: center !important;
    margin-top: 15%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}


.loginForm {
    margin: 20px !important;
    display: flex !important;
    flex-direction: column !important;
    place-content: center !important;
    width: 250px !important;
    height: 200px !important;
    text-align: center !important;
    margin-top: 15% !important;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px !important;
}

.formUsername {
    margin: auto !important;
}

.formPassword{
    margin: auto  !important;
}

.loginForm Button{
max-width: 5rem  !important;
cursor: pointer  !important;
}


.inputField {
    max-width: 10rem  !important;
}

.header {
    text-align: center  !important;
    margin-top: 20px  !important;
}

.loginForm01 {
   margin-left: 500px !important;
}

.login_btn {
    width: 150px !important;
}

.reg_btn {
    width: 150px !important;
}