.imageContainer01{
  display: flex;
}

.splashImg {
  width: 250px;
  height: 250px;

}

/* .mainArea {
    display: flex;
}

.sidebarArea {
width: 200px;
height: 1600px;
background-color:rgb(44, 46, 65);
}

.containResults {
  display: flex;
  flex-wrap: wrap;
  width: 1400px;
  height: 1200px;
  margin-left: 100px;
}

.logo {
    width:100px;
    height: 100px;
    color: white;
}

.resultsWrapper {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
  }

  .results {
    max-width: 250px;
    max-height: 250px;
    width: 250px;
    height: 250px;
  }

img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}



.noImage {
  margin-top: 25px;
}

.navLinks {
  display: inline-block;
  background-color: rgb(44, 46, 65);
  width: 100%;
  height: 150px;
  color: white !important;
  font-size: 24px !important;
  
}

.nav01 {
  display: inline-block;
  margin-left: 50px;
  margin-bottom: -35px;
  color: white !important;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.nav02 {
  display: inline-block;
  margin-left: 50px;
  color: white !important;
}
.nav03 {
  display: inline-block;
  margin-left: 50px;
  color: white !important;
}

a {
  color: white !important;
}

a:link {
  text-decoration: none;
}

.spotifyTitleAndLoginWrapper {
    margin-top: 100px;
  display: flex;
  width: 350px;
  height: 100px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.spotifySearch {
  background-color: rgb(44, 46, 65);
  color: white;
  width: 100%;
  height: 1600px;
}

.searchTitle {
  width: 250px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.spotifyLoginAndLogout {
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-content: center;
}

.logBtn {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100px;
  height: 40px;
  align-content: center;
  margin-top: 35px;
  margin-left: 85px;
  background-color: white;
  border: none;
  cursor: pointer;
}

.logBtn:hover {
  background-color: #4caf50; 
}

.searchButtons {
  margin-left: 50px;
  margin-bottom: 50px;
  margin-top: 50px;
}

input {
    margin-bottom: 15px;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-content: center;
  background-color: white !important;
  color: black !important;
}

.apicall {
  height: 25px;
  background-color: white !important;
  border: none;
  color: black !important;
}

.search {
  height: 25px;
}

.listItems {
    margin-left: 20px;
    color: white;
    font-size: 18px;
    list-style-type: none;
}

.item01 {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.item02 {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}


.playlistIcon {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.item03 {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.item04 {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.item05 {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.searchIcon {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
} */

.addToPlaylist{
  margin-left: auto;
} 
