*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.profilePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #070117;
    color: #fff;
}
.profilePic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.returnButton {
    background-color: #070117;
    border: none;
    color: #fff;
    font-size: 20px;
}
.genreButton {
    margin: 1px;
}





